@import "tailwindcss";

@theme {
    --font-sans: 'Prompt', sans-serif;
    --font-heading: 'Prompt', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
  
    --color-primary: #064E3B;
    --color-primary-light: #059669;
    --color-primary-dark: #064031;
    --color-primary-surface: #D1FAE5;
  
    --color-secondary: #1E293B;
    --color-secondary-medium: #64748B;
  
    --color-health-watch: #F59E0B;
    --color-health-emergency: #EF4444;
    --color-health-safe: #10B981;
  
    --shadow-moph: 0 4px 16px rgba(6, 78, 59, 0.08), 0 1px 4px rgba(0, 0, 0, 0.04);
  }